<!DOCTYPE html>
<html lang="en">
<head>
  <title>Facebook Fans Page Share Count Report</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<h2>Facebook Fans Page Share Count Report</h2>
Forked from alog@ptt
<h3>Facebook 狂讚士分析儀</h3>

<%= yield %>

</div>

</body>
</html>
